<h1>My todos</h1>

<%= link_to "Add New Todo", new_todo_path %>

<% if @todos.any? %>
    <ul>
        <% @todos.each do |todo| %>
            <li><%= todo.title %></li>
        <% end %>
    </ul>
<% else %>
  <p>No todos yet! Add your first one above.</p>
<% end %>